/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

.card-header-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@media screen and (min-width:720px) {
    .card-header-img {
        height: 350px;
    }
}

